* {
  --primary: rgb(107, 148, 87);
  --secondary: rgb(255, 255, 255);
  --tertiary: rgb(52, 62, 61);
}

body {
  font-weight: lighter;
  text-align: center;
  color: var(--secondary);
  background-image:linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.945)), url("https://thumbs.dreamstime.com/b/green-moss-bokeh-background-sunset-light-hd-image-large-resolution-can-be-used-as-wallpaper-web-banners-consepts-188695665.jpg") ;
  background-attachment: fixed;
  background-size: cover;
  background-position: 10% 10%;
}

h3 {
  font-weight: lighter;
}

.my-name {
  font-family: "Estonia", "cursive";
  color: var(--secondary);
  padding: 10px;
}

.header {
  z-index: 999999;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  background-image:linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.904)), url("https://thumbs.dreamstime.com/b/green-moss-bokeh-background-sunset-light-hd-image-large-resolution-can-be-used-as-wallpaper-web-banners-consepts-188695665.jpg") ;
  width: 100%;
  background-repeat: no-repeat;  
  justify-content: space-between;
  background-position: 10% 0%;
  align-items: center;
}

.page-content {
  padding-top: calc(10%);
}

.contact-div {
  font-weight: lighter;
  margin: 50px 0px;
}




.links {
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.link {
  padding: 20px;
}

.link:hover {
  font-style: italic;
  box-shadow: 0px 1px 0px 0px var(--tertiary);
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px
}

.about img {
  width: 50%;
  transform: scaleX(-1);
  border-radius: 5px;
  background: var(--tertiary);
  padding: 10px;
}

.about div {
  font-size: large;
}

/*WAITING ON HEROKU CREDITS*/
.NerdHerd,
.Dose {
  display: none;
}

.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: #2f5825 solid 1px;
}

.project-name {
  font-weight: bold;
}

.description {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project img {
  width: 40%;
  margin: 50px;
}

.button {
  margin: 10px;
}

.technologies {
  font-size: large;
  color: var(--secondary);
}

.logo {
  width: 3%;
  filter: grayscale(70%);
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  box-shadow: 0 5px 10px var(--tertiary);
  filter: grayscale(0%);
}

textarea {
  width: 15%;
}

#submitBtn {
  color: var(--secondary);
  background-color: var(--primary);
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

#submitBtn:hover {
  color: var(--secondary);
  background-color: var(--primary);
  box-shadow: 0 5px 10px var(--tertiary);
}

input {
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume {
  margin-bottom: 30px;
}

.skills-container {
  display: flex;
  flex-direction: row;
}

.ul-separator {
  border: #343e3d 1px solid;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.skills li {
  font-style: italic;
}

.item-5 {
  grid-area: 2 / 3 / 3 / 4;
}

.item-6 {
  grid-area: 3 / 1 / 4 / 2;
}

.item-7 {
  grid-area: 3 / 3 / 4 / 4;
}

.item-8 {
  grid-area: 3 / 2 / 4 / 3;
}

li {
  list-style: none;
  font-weight: lighter;
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
}

.modal {
  backdrop-filter: blur(10px);
}

.modal-header,
.modal-body {
  color: var(--primary);
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  color: var(--tertiary);
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  font-size: xx-large;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 5px;
  background-color: black;
}

footer a {
  padding: 10px;
}

@media (max-width: 768px) {
  nav {
    font-size: large;
  }

  .page-content {
    /* padding: 100px; */
  }

  .project {
    flex-direction: column-reverse;
  }

  .project img {
    width: 100%;
  }

  .description {
    font-size: medium;
  }

  .row {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
  }

  .about img {
    width: 35%;
  }

  .skills ul {
    display: flex;
    flex-direction:column;
  }
  footer {
    font-size: large;
  }
}

@media (max-width: 481px) {

  .portrait {
    display: none;
  }

  .header {
    flex-direction: column;
  }

  .links {
    flex-direction: column;
  }
  .about-div {
    font-size: xx-large;
  }
}
