* {
  --primary: rgb(53, 87, 35);
  --secondary: rgba(255, 255, 255, 0.925);
  --tertiary: rgb(58, 59, 59);
}

body {
  font-weight: lighter;
  text-align: left;
  color: var(--secondary);
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.904)),
    url("https://salmonfishingqueen.files.wordpress.com/2013/01/moss-up-close.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h3 {
  font-weight: lighter;
}

/* HEADER */
header {
  font-size: large;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.904)),
    url("https://salmonfishingqueen.files.wordpress.com/2013/01/moss-up-close.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.my-name {
  font-family: "Estonia", "cursive";
  color: var(--secondary);
  font-size: 3.5rem;
  padding-inline-start: 30px;
}
/* END OF HEADER*/

/* .page-title {
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.096)),
    url("https://salmonfishingqueen.files.wordpress.com/2013/01/moss-up-close.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-top: calc(11%);
}

/* NAV LINKS */
.links {
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
  display: flex;
  /* gap: 10px; */
  flex-direction: row;
}

.link {
  padding: 10px;
}

.link:hover {
  font-style: italic;
  box-shadow: 0px 1px 0px 0px var(--tertiary);
  cursor: pointer;
}
/* END OF NAV LINKS */

/* ABOUT */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portrait {
  display: flex;
  justify-content: center;
  width: 30%;
}

.portrait img {
  width: 60%;
  padding: 8px;
  background-color: var(--tertiary);
}

.about-div {
  font-size: large;
  width: 70%;
}
/* END OF ABOUT */

/* PORTFOLIO */
.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: #2f5825 solid 1px;
  margin-bottom: 15px;
}

.project-name {
  font-weight: bold;
}

.description {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project img {
  width: 30%;
  max-width: 50%;
  margin: 50px;
}

.button {
  margin: 10px;
}

.technologies {
  font-size: large;
  color: var(--secondary);
}
.modal {
  backdrop-filter: blur(10px);
}

.modal-header,
.modal-body {
  color: black;
  font-weight: normal;
}
/* END OF PORTFOLIO */

/* CONTACT */
.contact-section {
  font-weight: lighter;
}

.form-wrapper {
  width: 100%;
}
.form {
  padding: 15px;
  background: var(--primary);
  border-radius: 8px;
}

form input,
textarea {
  border-radius: 5px;
  width: 100%;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
  background-color: rgb(228, 230, 231);
  border: 0;
  transition: all 0.3s;
}

input:focus {
  border-bottom: 2px solid var(--tertiary);
}
.contact-me {
  text-align: left;
  color: var(--secondary);
}

.form button {
  padding: 8px 12px;
  margin: 8px 0 0;
  border: 2px solid var(--secondary);
  color: var(--tertiary);
  cursor: pointer;
  transition: all 0.3s;
}

.form button:hover {
  background: var(--tertiary);
  color: var(--secondary);
}

/* END OF CONTACT */

/* RESUME */
.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume {
  margin-bottom: 30px;
}

.resume a {
  color: var(--secondary);
  text-decoration: none;
}

.resume a:hover {
  font-style: italic;
  border-bottom: 1px solid var(--tertiary);
}
.skills-container {
  display: flex;
  flex-direction: row;
}

.front-end {
  margin-right: 30px;
}
.ul-separator {
  border: #343e3d 1px solid;
}

.skills {
  text-align: center;
}

.skills ul {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
}

.skills li {
  font-style: italic;
  background-color: var(--primary);
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
}

.skills li:hover {
  background-color: #3e7231;
}

.item-5 {
  grid-area: 2 / 3 / 3 / 4;
}

.item-6 {
  grid-area: 3 / 1 / 4 / 2;
}

.item-7 {
  grid-area: 3 / 3 / 4 / 4;
}

.item-8 {
  grid-area: 3 / 2 / 4 / 3;
}

li {
  list-style: none;
  font-weight: lighter;
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
}

/* END OF RESUME */

/* FOOTER */
footer {
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.904)),
    url("https://salmonfishingqueen.files.wordpress.com/2013/01/moss-up-close.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


footer a {
  padding: 5px;
}

.logo {
  width: 1.5%;
  filter: grayscale(70%);
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  box-shadow: 0 5px 10px var(--tertiary);
  filter: grayscale(0%);
}

.copyright {
  padding: 5px;
}

/* END OF FOOTER */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .page-content {
    padding: 10px;
    padding-top: calc(25%);
  }

  nav {
    font-size: large;
  }

  .about {
    flex-direction: column;
  }

  .portrait {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .about img {
    width: 35%;
    margin-bottom: 10px;
  }



  .project {
    flex-direction: column-reverse;
  }
  
  .project img {
    width: 90%;
  }


  .description {
    font-size: medium;
  }

  .button {
    justify-content: center;
  }

  .row {
    flex-direction: column;
  }

  .skills {
    text-align: center;
  }
  .skills ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 481px) {
  .page-content {
    padding: 10px;
    padding-top: calc(13%);
    padding-bottom: calc(10%);
  }
  .my-name {
    display: none;
  }

  header {
    align-items: center;
    justify-content: space-around;
  }

  .about {
    flex-direction: column-reverse;
  }
  .about-div {
    font-size: large;
  }
  .portrait {
    width: 100%;
  }

  .links {
    flex-direction: row;
    justify-content: space-around;
  }

  .link {
    padding: 2px;
  }

  .project img {
    width: 80%;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  .icons {
    width: 50%;
  }

  .logo {
    width: 15%;
  }
}
