main {
  min-height: calc(100vh - 72px - 105px);
}

body {
  margin: auto;
  background-color: #000e22;
  color: aliceblue;
  font-weight: lighter;
  text-align: center;
}

header {
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-name {
  text-align: left;
}

h5 {
  font-weight: lighter;
  margin-left: 20px;
}

nav {
  font-size: x-large;
  padding-bottom: 10px;
}

.nav-item {
  color: rgba(255, 255, 255, 0.8);
  background-color: #000e22;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #000e22;
  box-shadow: 0 5px 10px rgba(145, 92, 182, 0.4);
  box-sizing: content-box;
  cursor: pointer;
}

h3 {
  margin-top: 15px;
}

footer {
  text-align: center;
  margin-top: 25px;
}

footer a {
  text-decoration: none;
}

textarea {
  width: 15%;
}

#submitBtn {
  color: rgba(255, 255, 255, 0.8);
  background-color: #000e22;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

#submitBtn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #000e22;
  box-shadow: 0 5px 10px rgba(145, 92, 182, 0.4);
}

input {
  margin: 10px 0;
  margin-left: 5px;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

li {
  list-style: none;
  font-weight: lighter;
}

.carousel-item img {
  max-width: 45%;
  max-height: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.about {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.about div {
  margin-left: 100px;
  margin-right: 100px;
}

.about img {
  object-fit: contain;
  width: 18%;
  border-radius: 100%;
  margin-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
